<html>
	<head>
		<title>Welcome to Blog</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jQuery3.3.1.js"></script>
		<script type="text/javascript" src="/assets/js/main.js"></script>
	</head>
	<body>
		<div id="loading">Loading ... </div>
		<div id="container">
			<nav>
				<table>
					<tr>
						<td id="selected"><a href="/">Home</a></td>
						<td><a href="/assets/addArticle.html">Add article</a></td>
						<td><a href="/assets/about.html">About</a></td>
					</tr>
				</table>
			</nav>
			<article>
			</article>
			<footer>
				<div id="footer">
					<p></p>
				</div>
			</footer>
		</div>
	</body>
</html>