body {
	background-image: url('/assets/images/bg.png');
	background-repeat: repeat;
}

#container {
	font-family: 'Montserrat', sans-serif;
	margin: 100px 60px 0px 60px;
}

a {
	text-decoration: none;
	color: black;
}

nav {
	
}

table {
  border-collapse: collapse;
}

nav td{
	height: 60px;
	color: black;
	padding: 0px 40px 0px 40px;
	font-size: 20pt;
}

nav td:hover {
	background-color: #70bddb;
}

#selected {
	background-color: #70bddb;
}

article {
	margin-top: -2px;
	background-color: #f9f9f9;
	padding: 20px 40px;
}

.article {
	vertical-align: top;
    min-height: 300;
	display: inline-block;
	margin : 20px 10px;
	width: 30%;
	box-shadow: 8px 8px 8px #dfe4ea;
	padding: 5px;
}

.title {
	font-size: 32pt;
	display: block;
	word-break: break-word;
}

.author {
	margin-right: 10%;
	font-size: 9pt;
}

.date {
	display: inline-block;
	font-size: 9pt;
}

.content {
	font-size: 16pt;
}

.readMore a {
	color: #b1d9df;
}

.readMore:hover{
	text-decoration: underline;

}

#footer {
	background-color: #70bddb;
	margin-bottom: 40px;
}


#footer p{
	padding: 10px;
	text-align: center;
	margin-top: 0;
	font-size: 16pt;
}
